*{
    margin:0;
    box-sizing:border-box;
    background:url(https://media.istockphoto.com/id/1257251850/photo/white-cosmetic-jars-with-cream-lie-in-a-shopping-trolley-on-a-pink-background-online-home.jpg?s=612x612&w=0&k=20&c=rbBOmuYvASPWnYVr3QUCB5psMTCpMpN9EEgukzDmQKc=) no-repeat center center fixed;;
}
.regish{
    color:rgb(33, 2, 21);
    text-align:center;
}
.mbor{
    border:1px solid rgb(252, 115, 209);
    box-shadow: -5px -5px 5px 5px rgb(233, 108, 108);
    padding:3%;
    background-color:rgb(242, 198, 235);
}
.buttons{
    margin-left:45%;
    margin-top:3%;
}
.title1{
    color:rgb(248, 88, 208);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
}
.error-message{
    color:rgb(39, 37, 38);
    margin-top:5px;
}